<a href="https://colab.research.google.com/github/ronakjpatel/Data_Science_Projects/blob/main/Cutomer_Churn_Prediciton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import tensorflow as tf

In [ ]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = "/content"

In [ ]:
!kaggle datasets download -d blastchar/telco-customer-churn

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /content/kaggle.json'
Downloading telco-customer-churn.zip to /content
  0% 0.00/172k [00:00<?, ?B/s]
100% 172k/172k [00:00<00:00, 51.6MB/s]

In [ ]:
!unzip \*.zip && rm *.zip

Archive:  telco-customer-churn.zip
  inflating: WA_Fn-UseC_-Telco-Customer-Churn.csv

In [ ]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
%matplotlib inline

In [ ]:
data = pd.read_csv('/content/Telco_Customer_Churn.csv')

In [ ]:
data

In [ ]:
#dropping the customerID column
data.drop(labels='customerID',axis='columns',inplace=True)

In [ ]:
data

In [ ]:
#checking all the columns after deleting the cutomerID column

data.dtypes

In [ ]:
data.TotalCharges.values

In [ ]:
data.MonthlyCharges.values

In [ ]:
#converting the objects to the numeric type
pd.to_numeric(data.TotalCharges)

ValueError: ignored

In [ ]:
pd.to_numeric(data.TotalCharges,errors='coerce').isnull()

0       False
1       False
2       False
3       False
4       False
        ...
7038    False
7039    False
7040    False
7041    False
7042    False
Name: TotalCharges, Length: 7043, dtype: bool

In [ ]:
#we are printing the rows with the NaN value of TotalCharges
#it is 11 rows 
data[pd.to_numeric(data.TotalCharges,errors='coerce').isnull()].shape

(11, 20)

In [ ]:
#deleting the rows in which NaN value exsist 

data = data[data.TotalCharges!=' ']

In [ ]:
data.shape

(7032, 20)

In [ ]:
#now lets again convert TotalChanges column to numeric 
data.TotalCharges = pd.to_numeric(data.TotalCharges)

In [ ]:
data.dtypes

In [ ]:
for col in data:
  print(f'{col} : {data[col].unique()}')

gender : ['Female' 'Male']
SeniorCitizen : [0 1]
Partner : ['Yes' 'No']
Dependents : ['No' 'Yes']
tenure : [ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26 39]
PhoneService : ['No' 'Yes']
MultipleLines : ['No phone service' 'No' 'Yes']
InternetService : ['DSL' 'Fiber optic' 'No']
OnlineSecurity : ['No' 'Yes' 'No internet service']
OnlineBackup : ['Yes' 'No' 'No internet service']
DeviceProtection : ['No' 'Yes' 'No internet service']
TechSupport : ['No' 'Yes' 'No internet service']
StreamingTV : ['No' 'Yes' 'No internet service']
StreamingMovies : ['No' 'Yes' 'No internet service']
Contract : ['Month-to-month' 'One year' 'Two year']
PaperlessBilling : ['Yes' 'No']
PaymentMethod : ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
MonthlyCharges : [29.85 56.95 53.85 ... 63.1  44.2  78.7 ]
TotalCharges : [  29.85 1889.5   108.15 ...  346.45  306.6  6844.5 ]
Churn : ['No' 'Yes']

In [ ]:
#we will replace all the values ike No internet service, No phone service etc with simply no

data.replace(to_replace='No internet service',value='No',inplace=True)

In [ ]:
for col in data:
  print(f'{col} : {data[col].unique()}')

In [ ]:
#same like above now we will replace no phone service with No

data.replace(to_replace='No phone service',value='No',inplace=True)

In [ ]:
for col in data:
  print(f'{col} : {data[col].unique()}')

gender : ['Female' 'Male']
SeniorCitizen : [0 1]
Partner : [1 0]
Dependents : [0 1]
tenure : [ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26 39]
PhoneService : [0 1]
MultipleLines : [0 1]
InternetService : ['DSL' 'Fiber optic' 'No']
OnlineSecurity : [0 1]
OnlineBackup : [1 0]
DeviceProtection : [0 1]
TechSupport : [0 1]
StreamingTV : [0 1]
StreamingMovies : [0 1]
Contract : ['Month-to-month' 'One year' 'Two year']
PaperlessBilling : [1 0]
PaymentMethod : ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
MonthlyCharges : [29.85 56.95 53.85 ... 63.1  44.2  78.7 ]
TotalCharges : [  29.85 1889.5   108.15 ...  346.45  306.6  6844.5 ]
Churn : [0 1]

In [ ]:
#Now it is time to change Yes and No to the 1 and 0 for NN
col_names = ['Partner','Dependents','PhoneService','MultipleLines','OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport',
'StreamingTV','StreamingMovies','PaperlessBilling','Churn']


for c in col_names:
  data[c].replace({'Yes':1,'No':0},inplace=True)

TypeError: ignored

In [ ]:
data

      gender  SeniorCitizen  Partner  ...  MonthlyCharges  TotalCharges  Churn
0     Female              0        1  ...           29.85         29.85      0
1       Male              0        0  ...           56.95       1889.50      0
2       Male              0        0  ...           53.85        108.15      1
3       Male              0        0  ...           42.30       1840.75      0
4     Female              0        0  ...           70.70        151.65      1
...      ...            ...      ...  ...             ...           ...    ...
7038    Male              0        1  ...           84.80       1990.50      0
7039  Female              0        1  ...          103.20       7362.90      0
7040  Female              0        1  ...           29.60        346.45      0
7041    Male              1        1  ...           74.40        306.60      1
7042    Male              0        0  ...          105.65       6844.50      0

[7032 rows x 20 columns]

In [ ]:
for col in data:
  print(f'{col} : {data[col].unique()}')

gender : [1 0]
SeniorCitizen : [0 1]
Partner : [1 0]
Dependents : [0 1]
tenure : [ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26 39]
PhoneService : [0 1]
MultipleLines : [0 1]
InternetService : ['DSL' 'Fiber optic' 'No']
OnlineSecurity : [0 1]
OnlineBackup : [1 0]
DeviceProtection : [0 1]
TechSupport : [0 1]
StreamingTV : [0 1]
StreamingMovies : [0 1]
Contract : ['Month-to-month' 'One year' 'Two year']
PaperlessBilling : [1 0]
PaymentMethod : ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
MonthlyCharges : [29.85 56.95 53.85 ... 63.1  44.2  78.7 ]
TotalCharges : [  29.85 1889.5   108.15 ...  346.45  306.6  6844.5 ]
Churn : [0 1]

In [39]:
data

      gender  SeniorCitizen  Partner  ...  MonthlyCharges  TotalCharges  Churn
0          1              0        1  ...           29.85         29.85      0
1          0              0        0  ...           56.95       1889.50      0
2          0              0        0  ...           53.85        108.15      1
3          0              0        0  ...           42.30       1840.75      0
4          1              0        0  ...           70.70        151.65      1
...      ...            ...      ...  ...             ...           ...    ...
7038       0              0        1  ...           84.80       1990.50      0
7039       1              0        1  ...          103.20       7362.90      0
7040       1              0        1  ...           29.60        346.45      0
7041       0              1        1  ...           74.40        306.60      1
7042       0              0        0  ...          105.65       6844.50      0

[7032 rows x 20 columns]

# New Section